rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // users 컬렉션
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // schedules 컬렉션
    match /schedules/{docId} {
      allow read, write: if request.auth != null
        && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null
        && request.auth.uid == request.resource.data.userId;
    }

    // digests 컬렉션
    match /digests/{docId} {
      allow read, write: if request.auth != null
        && request.auth.uid == resource.data.ownerId;
      allow create: if request.auth != null
        && request.auth.uid == request.resource.data.ownerId;
    }
  }
}